@page
@model EmployeeManager_RazorPages.Pages.Security.RegisterModel
@{
}

<h2>Create New user</h2>

<form method="post">
    <table>
        <tr>
            <td class="right">
                <label asp-for="RegisterData.UserName"></label>
            </td>
            <td>
                <input type="text" asp-for="RegisterData.UserName" />
                <span asp-validation-for="RegisterData.UserName"></span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="RegisterData.Password"></label>
            </td>
            <td>
                <input type="password" asp-for="RegisterData.Password" />
                <span asp-validation-for="RegisterData.Password"></span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="RegisterData.ConfirmPassword"></label>
            </td>
            <td>
                <input type="password" asp-for="RegisterData.ConfirmPassword" />
                <span asp-validation-for="RegisterData.ConfirmPassword"></span>
            </td>
        <tr>
            <td class="right">
                <label asp-for="RegisterData.Email"></label>
            </td>
            <td>
                <input type="text" asp-for="RegisterData.Email" />
                <span asp-validation-for="RegisterData.Email"></span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="RegisterData.FullName"></label>
            </td>
            <td>
                <input type="text" asp-for="RegisterData.FullName" />
                <span asp-validation-for="RegisterData.FullName"></span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="RegisterData.BirthDate"></label>
            </td>
            <td>
                <input type="date" asp-for="RegisterData.BirthDate" />
                <span asp-validation-for="RegisterData.BirthDate"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
    <div asp-validation-summary="All" class="message"></div>
</form>

